import pandas as pd

In [7]:
import pandas as pd

In [17]:
import os
print(os.getcwd())

c:\Users\HP\OneDrive\Documents\Model 11\model_training

In [20]:
import os
print(os.getcwd())

c:\Users\HP\OneDrive\Documents\Model 11\model_training

In [38]:
import os
current_directory = os.getcwd()
print(current_directory)

c:\Users\HP\OneDrive\Documents\Model 11\model_training

In [60]:
import os
file_path = 'c:/Users/HP/OneDrive/Documents/Model 11/data/heart-diseases.csv'
if os.path.exists(file_path):
    df = pd.read_csv(file_path)
else:
    print("File not found!")

File not found!

In [63]:
file_path = 'C:/heart-diseases.csv'
if os.path.exists(file_path):
    df = pd.read_csv(file_path)
    print("File read successfully!")
else:
    print("File not found!")

File not found!

In [61]:
import os
import pandas as pd

file_path = 'c:/Users/HP/OneDrive/Documents/Model 11/data/heart-diseases.csv'
try:
    df = pd.read_csv(file_path)
    print("File read successfully!")
except FileNotFoundError:
    print(f"FileNotFoundError: The file at {file_path} was not found.")
except Exception as e:
    print(f"An error occurred: {e}")

FileNotFoundError: The file at c:/Users/HP/OneDrive/Documents/Model 11/data/heart-diseases.csv was not found.

In [64]:
import os
import pandas as pd

file_path = 'c:/Users/HP/OneDrive/Documents/Model 11/data/heart-diseases.csv'
try:
    df = pd.read_csv(file_path)
    print("File read successfully!")
except FileNotFoundError:
    print(f"FileNotFoundError: The file at {file_path} was not found.")
except Exception as e:
    print(f"An error occurred: {e}")

FileNotFoundError: The file at c:/Users/HP/OneDrive/Documents/Model 11/data/heart-diseases.csv was not found.

In [68]:
import glob

files = glob.glob('c:/Users/HP/OneDrive/Documents/Model 11/data/*.csv')
for file in files:
    print(file)

In [69]:
from pathlib import Path

file_path = Path('c:/Users/HP/OneDrive/Documents/Model 11/data/heart-diseases.csv')
if file_path.exists():
    print("File found!")
else:
    print("File not found!")

File not found!

In [70]:
import os
print(os.getcwd())

c:\Users\HP\OneDrive\Documents\Model 11\model_training

In [74]:
df = pd.read_csv('C:/Users/HP/OneDrive/Documents/Model 11/model_training/heart-diseases.csv')

In [75]:
df = pd.read_csv('C:/Users/HP/OneDrive/Documents/Model 11/model_training/heart-diseases.csv')

In [76]:
df = pd.read_csv('C:/Users/HP/OneDrive/Documents/Model 11/model_training/heart-diseases.csv')
print(df.head())

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   63    1   3       145   233    1        0      150      0      2.3      0
1   37    1   2       130   250    0        1      187      0      3.5      0
2   41    0   1       130   204    0        0      172      0      1.4      2
3   56    1   1       120   236    0        1      178      0      0.8      2
4   57    0   0       120   354    0        1      163      1      0.6      2

   ca  thal  target
0   0     1       1
1   0     2       1
2   0     2       1
3   0     2       1
4   0     2       1

In [77]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0